@import "tailwindcss";

.poupup{
    position: fixed;
    bottom:10px;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.5s ease-in-out;
}
.poupup-hidden{
    bottom: -100px;
}

/* Chrome, Safari, Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* hides scrollbar */
}

/* Internet Explorer & old Edge */
.hide-scrollbar {
  -ms-overflow-style: none; /* hides scrollbar */
}
